<div class="view-pane">
    <h1>Feature F1:
        <span data-ng-show="name === 'UNDEFINED' || name === 'FAILED'" class="unresolved">{{name}}</span>
        <span data-ng-show="name !== 'UNDEFINED' && name !== 'FAILED'" class="resolved">{{name}}</span>
    </h1>
    <p>
        <button class="btn btn-default" data-ng-click="dispatchJob()">Dispatch my asynchronous job</button>
        <button class="btn btn-default" data-ng-click="sendEmail()">Send Email</button>
    </p>
    <p>
        <button class="btn btn-default" data-ng-click="invokeModal()">Invoke Modal</button>
        <input type="text" data-ng-model="yourName"/>
    </p>
    <p>
        <button class="btn btn-default" data-ng-disabled="disableSse" data-ng-click="initiateSse()">Initiate SSE</button>
    </p>
    <div class="sse-panel">
        {{sseResponse}}
    </div>
    <p style="border: 1px solid gray; padding: 5px; background-color: #fff0ff">
        Select an image file:
        <input type="file" data-ngf-select="" data-ng-model="picFile" name="file" data-ngf-accept="'image/*'" required="">
        <br>

        <button class="btn btn-default" data-ng-click="upload(picFile)">Submit to server</button>
        <img data-ngf-src="picFile" class="thumbnail">
    </p>
    <div data-ng-show="uploadStatus" style="border: 1px solid blue; padding: 5px; background-color: #f0f0ff">
        {{uploadStatus}}
    </div>
    <pre data-ng-show="responseData" style="border: 1px solid blue; border-top: 0px none; padding: 5px; background-color: #fff0f0">{{responseData | json}}</pre>
</div>

